# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
run-client
run-server

repo

# serena memory
.serena/
.vscode

# temporary files
temp_*.py
%SystemDrive%/
/.kotlin
/src/generated/resources/.cache/
